/* ==========================================================================
                           Global Styles
=========================================================================== */

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-light: rgb(39, 67, 224);
  --clr-dark: rgb(18, 5, 71);
  --clr-tiber: rgb(16, 233, 208);
  --clr-white: #fff;
  --clr-light-white: #f4f8fc;
  --clr-black: #000;
  --clr-grey: #5e6278;
  --clr-light-grey: #e3e3e3;

  /* font sizes */

  --fs-400: 1rem;
  --fs-300: 0.875rem;

  /* font-families */
  --ff-serif: "Source Serif Pro", serif;
  --ff-sans-serif: "Raleway", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

/* Reset margins & paddings*/

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-serif);
}

/* set up the body */

body {
  font-family: var(--ff-sans-serif);
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100vh;
}

/* set up links and lists */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* setup button */

.btn-neutral {
  padding: 1rem 3rem;
  background-color: var(--clr-dark);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.btn-neutral:hover {
  background-color: var(--clr-tiber);
  transition: all 0.3s ease-in-out;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ==========================================================================
                           Navigation
=========================================================================== */

.navbar {
  font-family: var(--ff-serif);
  font-size: var(--fs-300);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .logo {
  max-width: 100px;
}

/* navbar toggle button */
.navbar .navbar-toggler,
.navbar .navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
  color: var(--clr-tiber);
  line-height: 2;
}

.navbar .nav-item {
  letter-spacing: 2px;
  font-size: var(--fs-400);
  color: var(--clr-black);
}

.navbar .nav-link {
  color: var(--clr-black);
}

.navbar .nav-link:hover,
.navbar .nav-link:active {
  color: var(--clr-dark);
}

/* dropdown */
.dropdown-menu {
  width: 200px;
  background-color: rgba(16, 233, 208, 0.7);
}

.dropdown-item {
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px;
  color: var(--clr-white);
}

.btn-brand {
  padding: 9px 24px;
  font-weight: 600;
}

.nav-btn {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  transition: all 0.5s ease-in;
}

.nav-btn:hover {
  background-color: var(--clr-tiber);
  color: var(--clr-white);
  transition: all 0.3s ease-in;
}

/* Modal */

.modal-logo {
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}

.modal-form .form-control {
  background-color: var(--clr-light-white);
  border-color: var(--clr-light-white);
  color: var(--clr-grey);
}

.modal-form .form-control :focus {
  box-shadow: none;
}

.form-floating label {
  font-size: var(--fs-300);
}

.modal-form .submit-btn {
  padding: 15px;
  font-weight: 600;
}

.modal-form .login-with {
  padding: 15px;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.modal-form .submit-btn:focus,
.modal-form .login-with:focus {
  box-shadow: none;
}

.modal-form .login-with:hover {
  background-color: var(--clr-light-grey);
  border-color: var(--clr-light-grey);
}

.login-with img {
  width: 8%;
}

.modal-form .for-rem {
  font-size: var(--fs-300);
}

/* Media query */

@media only screen and (max-width: 600px) {
  .modal-form h3 {
    font-size: 24px;
  }
  .login-with span {
    font-size: 12px;
  }

  .modal-form .for-rem {
    font-size: 12px;
  }
}
/* ==========================================================================
                           Hero banner
=========================================================================== */

#hero {
  position: relative;
  display: flex;
  align-items: center;
}

.bg-hero {
  min-height: 100vh;
  background: linear-gradient(rgba(39, 67, 224, 0.7), rgba(18, 5, 71, 0.7)),
    url("/assets/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font-family: var(--ff-serif);
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 850px;
  margin: 0 auto;
}

.hero-content p {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.btn-hero {
  font-weight: 600;
  padding: 16px 48px;
  background-color: var(--clr-dark);
  color: var(--clr-light-white);
  border-color: var(--clr-light);
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}

.btn-hero:hover {
  background-color: var(--clr-tiber);

  color: var(--clr-light-white);
  transition: all 0.3s ease-in-out;
}
/* Media query */

@media only screen and (max-width: 800px) {
  .hero-content h1 {
    padding-top: 4rem;
    font-size: 2rem;
  }
}

/* ==========================================================================
                           Home-form
=========================================================================== */
.home-form {
  margin-top: 6rem;
}
.home-form-content h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--clr-light);
  text-transform: capitalize;
}

.home-form-content span {
  color: var(--clr-dark);
  text-transform: uppercase;
}

.home-form-content p {
  font-weight: 600;
}

.home-form-img {
  width: 100%;
}

.home-form-img img {
  width: 100%;
  object-fit: fill;
  height: 100vh;
}

.opneForm-contents {
  font-size: 14px;
  color: var(--clr-black);
}

/* ==========================================================================
                           Facility
=========================================================================== */
.facility {
  margin-top: 8rem;
}

.facility h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  color: var(--clr-light);
}

.number {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.number + span {
  display: inline-block;
  color: var(--clr-dark);
  text-transform: capitalize;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* Media query */

/* ==========================================================================
                           Assessment
=========================================================================== */

.assessment-container {
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: 4rem 0;
  width: 100%;
}

.assessment-content {
  max-width: 650px;
  margin: 0 auto;
}

.btn-assessment {
  background-color: var(--clr-light);
}

.logo {
  width: 80px;
}

/* ==========================================================================
                           Footer
=========================================================================== */

.footer-wrapper {
  background-color: var(--clr-dark);
  margin-top: 3rem;
  color: var(--clr-white);
}

.footer-wrapper h5 {
  color: var(--clr-light-grey);
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.footer-logo {
  width: 120px;
}

.footer-wrapper ul li {
  margin-bottom: 0.5rem;
}

.footer-wrapper ul li a {
  color: var(--clr-white);
  font-size: 0.875rem;
  padding-left: 1.5rem;
  position: relative;
  transition: all 0.3s ease-out;
}

.footer-wrapper .link-widget li a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
}

.footer-wrapper .link-widget li a:hover {
  margin-left: 0.625rem;
  color: var(--clr-light);
}

.footer-wrapper .social-network a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid var(--clr-light);
  margin: 0.5rem;
  text-align: center;
  border-radius: 50%;
  color: var(--clr-white);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer-wrapper .social-network a:hover {
  background-color: var(--clr-light);
  color: var(--clr-light-white);
}
